body {
    background-image: url(../img/background.jpg);
    background-position: 10% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #eee;
}

.top-row {
    margin-bottom: 20px;
}

#ca {
    color: #000;
}