body {
    background-image: url(../img/background.jpg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #eee;
}

.top-row {
    margin-bottom: 20px;
}